In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [6]:
tmp=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

In [7]:
tmp

a   -0.233145
b   -2.108819
c    0.161447
d    0.945680
e    0.234067
dtype: float64

In [11]:
tmp[0]

-0.23314504490947124

In [12]:
tmp['a']

-0.23314504490947124

In [13]:
tmp

a   -0.233145
b   -2.108819
c    0.161447
d    0.945680
e    0.234067
dtype: float64

In [14]:
df=pd.DataFrame(tmp,columns=['Column 1'])

In [15]:
df

   Column 1
a -0.233145
b -2.108819
c  0.161447
d  0.945680
e  0.234067

In [16]:
df['Column 1']

a   -0.233145
b   -2.108819
c    0.161447
d    0.945680
e    0.234067
Name: Column 1, dtype: float64

In [17]:
df['Column 2'] = df['Column 1']*4

In [18]:
df

   Column 1  Column 2
a -0.233145 -0.932580
b -2.108819 -8.435276
c  0.161447  0.645786
d  0.945680  3.782718
e  0.234067  0.936267

In [21]:
df.sort_values(by='Column 2')

   Column 1  Column 2
b -2.108819 -8.435276
a -0.233145 -0.932580
c  0.161447  0.645786
e  0.234067  0.936267
d  0.945680  3.782718

In [22]:
df[df['Column 2']<=2]

   Column 1  Column 2
a -0.233145 -0.932580
b -2.108819 -8.435276
c  0.161447  0.645786
e  0.234067  0.936267

In [23]:
df.apply(lambda x:min(x)+max(x))

Column 1   -1.163139
Column 2   -4.652557
dtype: float64

In [24]:
np.mean(df)

Column 1   -0.200154
Column 2   -0.800617
dtype: float64

In [25]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.200154 -0.800617
std    1.148513  4.594052
min   -2.108819 -8.435276
25%   -0.233145 -0.932580
50%    0.161447  0.645786
75%    0.234067  0.936267
max    0.945680  3.782718

In [26]:
plt.style.use('ggplot')

In [34]:
df=pd.read_csv('monthly.csv')
df=df.sort_values(by='Date')
df.reset_index(drop=True)

       Source     Date    Mean
0     GISTEMP  1880-01 -0.3000
1        GCAG  1880-01  0.0009
2        GCAG  1880-02 -0.1229
3     GISTEMP  1880-02 -0.2100
4        GCAG  1880-03 -0.1357
5     GISTEMP  1880-03 -0.1800
6        GCAG  1880-04 -0.0499
7     GISTEMP  1880-04 -0.2700
8        GCAG  1880-05 -0.0738
9     GISTEMP  1880-05 -0.1400
10       GCAG  1880-06 -0.1692
11    GISTEMP  1880-06 -0.2900
12       GCAG  1880-07 -0.1491
13    GISTEMP  1880-07 -0.2400
14       GCAG  1880-08 -0.0725
15    GISTEMP  1880-08 -0.0800
16    GISTEMP  1880-09 -0.1700
17       GCAG  1880-09 -0.0817
18    GISTEMP  1880-10 -0.1600
19       GCAG  1880-10 -0.1786
20    GISTEMP  1880-11 -0.1900
21       GCAG  1880-11 -0.2672
22       GCAG  1880-12 -0.0775
23    GISTEMP  1880-12 -0.2200
24    GISTEMP  1881-01 -0.1000
25       GCAG  1881-01 -0.0205
26    GISTEMP  1881-02 -0.1400
27       GCAG  1881-02 -0.0296
28    GISTEMP  1881-03  0.0100
29       GCAG  1881-03  0.0348
...       ...      ...     ...
3258  GISTEMP  2015-10  1.0600
3259     GCAG  2015-10  0.9913
3260  GISTEMP  2015-11  1.0400
3261     GCAG  2015-11  0.9655
3262  GISTEMP  2015-12  1.1100
3263     GCAG  2015-12  1.1219
3264  GISTEMP  2016-01  1.1700
3265     GCAG  2016-01  1.0569
3266  GISTEMP  2016-02  1.3500
3267     GCAG  2016-02  1.1921
3268  GISTEMP  2016-03  1.3000
3269     GCAG  2016-03  1.2245
3270  GISTEMP  2016-04  1.0900
3271     GCAG  2016-04  1.0733
3272  GISTEMP  2016-05  0.9300
3273     GCAG  2016-05  0.8738
3274  GISTEMP  2016-06  0.7600
3275     GCAG  2016-06  0.9006
3276     GCAG  2016-07  0.8687
3277  GISTEMP  2016-07  0.8300
3278  GISTEMP  2016-08  0.9800
3279     GCAG  2016-08  0.8998
3280  GISTEMP  2016-09  0.8700
3281     GCAG  2016-09  0.8767
3282  GISTEMP  2016-10  0.8900
3283     GCAG  2016-10  0.7292
3284  GISTEMP  2016-11  0.9300
3285     GCAG  2016-11  0.7504
3286  GISTEMP  2016-12  0.8100
3287     GCAG  2016-12  0.7895

[3288 rows x 3 columns]